<% @store_movies.each do |movie| %>
  <h3><%= movie.name %></h3>
  <h3><%= movie.available %></h3>
  <h3><%= movie.year_filmed %></h3>
<% end %>

<a href="/video_stores/<%=@store_movies[0].video_store_id%>/movies/new">new movie</a>
