<header>
<h1>Games</h1>
</header>

<div id="games">
<h2>Game</h2>

<% @games.each do |game| %>
  <h3><a href="/games/<%=game.id%>"> <%= game.stadium_name %> </a></h3>
<% end %>

<a href="/games/new" >new game</a>
</div>
