<% @game_players.each do |player| %>
  <h3><%= player.position %></h3>
  <h3><%= player.weight %></h3>
  <h3><%= player.injured %></h3>
<% end %>

<a href="/games/<%=@game_players[0].game_id%>/players/new" >new player</a>
