<% @players.each do |player| %>
  <h3><%= player.position %></h3>
  <h3><%= player.injured %></h3>
  <h3><%= player.weight %></h3>
  <a href="/players/<%= player.id %>/edit" > edit player</a>
<% end %>
